<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body class="w-full flex flex-col items-center text-xl">
        {% block header %}{% endblock %} 
        <div class="relative sticky top-0 bg-[#294690] text-white text-xl font-semibold px-5 py-4 w-full flex z-40 flex-row lg:justify-center justify-end items-center shadow-[0_4px_4px_0_rgba(0,0,0,0.25)] mt-px lg:mt-0">
            <div id="nav" class="hidden lg:flex flex-row items-center lg:space-x-12 space-y-2 lg:space-y-0">
                <a href="{{ path('app_index') }}" title="Accueil"  class="hover:text-[#D7D960]">Accueil</a>
                <a title="Agence" class="hover:text-[#D7D960]">L'agence</a>
                <a title="Expertise" class="hover:text-[#D7D960]">Expertise</a>
                <a title="Projets" class="hover:text-[#D7D960]">Projets</a>
                <a title="Actualités" class="hover:text-[#D7D960]">Actualités</a>
                <a class="bg-[#D7D960] hover:bg-white text-[#294690] rounded px-4 py-2" title="Contact">Contact</a>
            </div>
            <div id="toggle-button" class="my-2 text-lg text-[#D7D960] lg:hidden flex ml-3">
                <i class="fas fa-bars"></i>
            </div>
        </div>
        {% block body %}{% endblock %}
        <div class="w-full mt-10">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d883.6653597913189!2d4.729793852763718!3d49.81798991536582!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47ea0e9f1da94c2b%3A0x587266ffa80dcb60!2sArdennes%20CN!5e0!3m2!1sfr!2sfr!4v1684155331379!5m2!1sfr!2sfr" class="w-full"></iframe>
        </div>
        <div class="w-full bg-[#294690] text-white text-xl font-semibold px-5 py-4 flex z-40 flex-row lg:justify-center justify-end items-center shadow-[0_4px_4px_0_rgba(0,0,0,0.25)] mt-px lg:mt-0">
            <p>2023 Copyright : <a href="https://comsea.fr/" class="hover:underline">COMSEA</a>   |   Tous droits Réservés   |   <a href="https://comsea.fr/" class="hover:underline">Mentions légales</a>   |   <a href="https://comsea.fr/" class="hover:underline">Politique de confidentialité</a>   |   <a href="https://comsea.fr/" class="hover:underline">Modifier les cookies</a></p>
        </div>
    </body>
</html>
