{% extends 'base.html.twig' %}

{% block title %}OMNITECHNIQUE | Présentation{% endblock %}

{% block header %}
    <div class="lg:h-[50vh] h-[40vh] w-full flex flex-col justify-center items-center relative">
        <video autoplay muted loop class="h-full w-full object-cover absolute -z-10">
            <source src="{{ asset("build/videos/bg.mp4") }}" type="video/mp4" class="h-full w-full">
        </video>
        <div class="w-full flex flex-col justify-center items-center space-y-10">
            <img src="{{ asset("build/images/logo.png") }}" alt="Logo Omnitechnique" class="lg:w-1/3 w-3/4">
            <h1 class="text-white font-bold lg:text-7xl text-4xl text-center px-4">POLITIQUE DE CONFIDENTIALITÉ</h1>
        </div>
    </div>
{% endblock %} 

{% block body %}
    <div class="w-5/6 flex lg:flex-col flex-col items-center justify-between lg:mt-32 mt-20 lg:mb-32 mb-20 space-y-8">
        <div class="w-full">
            <p class="w-full">Adresse du site : www.omnitechnique.com</p>
            <p class="w-full">Dénomination sociale : SARL OMNITECHNIQUE MACHINES OUTILS</p>
        </div>
        <p class="w-full">Type de site : vitrine</p>
        <h3 class="font-bold text-3xl w-full">Le but de cette politique de confidentialité</h3>
        <p class="w-full">Le but de cette politique de confidentialité est d’informer les utilisateurs de notre site des données personnelles que nous recueillerons ainsi que les informations suivantes, le cas échéant :</p>
        <div class="w-full">
            <p class="w-full">Les données personnelles que nous recueillerons</p>
            <p class="w-full">L’utilisation des données recueillies</p>
            <p class="w-full">Qui a accès aux données recueillies</p>
            <p class="w-full">Les droits des utilisateurs du site</p>
            <p class="w-full">La politique de cookies du site</p>
        </div>
        <p class="w-full">Cette politique de confidentialité fonctionne parallèlement aux conditions générales d’utilisation de notre site.</p>
        <h3 class="font-bold text-3xl w-full">Lois applicables</h3>
        <p class="w-full">Loi n° 78-87 du 6 janvier 1978, notamment modifiée par la loi n° 2004-801 du 6 août 2004 relative à l’informatique, aux fichiers et aux libertés.</p>
        <p class="w-full">Loi n° 2004-575 du 21 juin 2004 pour la confiance dans l’économie numérique.</p>
        <p class="w-full">Conformément au Règlement général sur la protection des données (RGPD), cette politique de confidentialité est conforme aux règlements suivants.</p>
        <p class="w-full">Les données à caractère personnel doivent être :</p>
        <div class="w-full">
            <p class="w-full">traitées de manière licite, loyale et transparente au regard de la personne concernée (licéité, loyauté, transparence) ;</p>
            <p class="w-full">collectées pour des finalités déterminées, explicites et légitimes, et ne pas être traitées ultérieurement d’une manière incompatible avec ces finalités;</p>
            <p class="w-full">le traitement ultérieur à des fins archivistiques dans l’intérêt public, à des fins de recherche scientifique ou historique ou à des fins statistiques n’est pas considéré, conformément à l’article 89, paragraphe 1, comme incompatible avec les finalités initiales (limitation des finalités) ;</p>
            <p class="w-full">adéquates, pertinentes et limitées à ce qui est nécessaire au regard des finalités pour lesquelles elles sont traitées (minimisation des données) ;</p>
            <p class="w-full">exactes et, si nécessaire, tenues à jour; toutes les mesures raisonnables doivent être prises pour que les données à caractère personnel qui sont inexactes, eu égard aux finalités pour lesquelles elles sont traitées, soient effacées ou rectifiées sans tarder (exactitude) ;</p>
            <p class="w-full">conservées sous une forme permettant l’identification des personnes concernées pendant une durée n’excédant pas celle nécessaire au regard des finalités pour lesquelles elles sont traitées;</p>
            <p class="w-full">les données à caractère personnel peuvent être conservées pour des durées plus longues dans la mesure où elles seront traitées exclusivement à des fins archivistiques dans l’intérêt public, à des fins de recherche scientifique ou historique ou à des fins statistiques conformément à l’article 89, paragraphe 1, pour autant que soient mises en œuvre les mesures techniques et organisationnelles appropriées requises par le règlement afin de garantir les droits et libertés de la personne concernée (limitation de la conservation) ;</p>
            <p class="w-full">traitées de façon à garantir une sécurité appropriée des données à caractère personnel, y compris la protection contre le traitement non autorisé ou illicite et contre la perte, la destruction ou les dégâts d’origine accidentelle, à l’aide de mesures techniques ou organisationnelles appropriées (intégrité et confidentialité).</p>
        </div>
        <p class="w-full">Le traitement n’est licite que si, et dans la mesure où, au moins une des conditions suivantes est remplie :</p>
        <div class="w-full">
            <p class="w-full">la personne concernée a consenti au traitement de ses données à caractère personnel pour une ou plusieurs finalités spécifiques ;</p>
            <p class="w-full">le traitement est nécessaire à l’exécution d’un contrat auquel la personne concernée est partie ou à l’exécution de mesures précontractuelles prises à la demande de celle-ci ;</p>
            <p class="w-full">le traitement est nécessaire au respect d’une obligation légale à laquelle le responsable du traitement est soumis ;</p>
            <p class="w-full">le traitement est nécessaire à la sauvegarde des intérêts vitaux de la personne concernée ou d’une autre personne physique ;</p>
            <p class="w-full">le traitement est nécessaire à l’exécution d’une mission d’intérêt public ou relevant de l’exercice de l’autorité publique dont est investi le responsable du traitement ;</p>
            <p class="w-full">le traitement est nécessaire aux fins des intérêts légitimes poursuivis par le responsable du traitement ou par un tiers, à moins que ne prévalent les intérêts ou les libertés et droits fondamentaux de la personne concernée qui exigent une protection des données à caractère personnel, notamment lorsque la personne concernée est un enfant.</p>
        </div>
        <p class="w-full">Si nous constatons des incohérences, nous modifierons notre politique pour nous conformer à la loi pertinente.</p>
        <p class="w-full">Tout litige en relation avec l’utilisation du site globalaxe.fr est soumis au droit français. Il est fait attribution exclusive de juridiction aux tribunaux compétents de Paris.</p>
        <h3 class="font-bold text-3xl w-full">Consentement</h3>
        <p class="w-full">Les utilisateurs conviennent qu’en utilisant notre site, ils consentent à :</p>
        <p class="w-full">les conditions énoncées dans la présente politique de confidentialité et la collecte, l’utilisation et la conservation des données énumérées dans la présente politique.</p>
        <h3 class="font-bold text-3xl w-full">Données personnelles que nous collectons</h3>
        <p class="w-full">Données collectées automatiquement</p>
        <p class="w-full">Lorsque vous visitez et utilisez notre site, nous pouvons automatiquement recueillir et conserver les renseignements suivants :</p>
        <div class="w-full">
            <p class="w-full">Lieu</p>
            <p class="w-full">Détails matériels et logiciels</p>
            <p class="w-full">Liens cliquables par l’utilisateur lors de la navigation sur le site</p>
            <p class="w-full">Contenu que l’utilisateur consulte sur le site</p>
            <p class="w-full">Données recueillies de façon non automatique</p>
        </div>
        <p class="w-full">Nous pouvons également collecter les données suivantes lorsque vous effectuez certaines fonctions sur notre site :</p>
        <div class="w-full">
            <p class="w-full">Nom et Prénom</p>
            <p class="w-full">Email</p>
        </div>
        <p class="w-full">Ces données peuvent être recueillies au moyen des méthodes suivantes :</p>
        <p class="w-full">Utilisation du formulaire de contact</p>
        <p class="w-full">Veuillez noter que nous ne collectons que les données qui nous aident à atteindre l’objectif énoncé dans cette politique de confidentialité. Nous ne recueillerons pas de données supplémentaires sans vous en informer au préalable.</p>
        <h3 class="font-bold text-3xl w-full">Comment nous utilisons les données personnelles</h3>
        <p class="w-full">Les données personnelles recueillies sur notre site seront utilisées uniquement aux fins précisées dans la présente politique ou indiquées sur les pages pertinentes de notre site. Nous n’utiliserons pas vos données au-delà de ce que nous divulguerons.</p>
        <p class="w-full">Les données que nous recueillons automatiquement sont utilisées aux fins suivantes :</p>
        <p class="w-full">Statistiques</p>
        <p class="w-full">Les données que nous recueillons lorsque l’utilisateur exécute certaines fonctions peuvent être utilisées aux fins suivantes :</p>
        <p class="w-full">Recontacter</p>
        <h3 class="font-bold text-3xl w-full">Avec qui nous partageons les données personnelles</h3>
        <p class="w-full">Employés</p>
        <p class="w-full">Nous pouvons divulguer à tout membre de notre organisation les données utilisateur dont il a raisonnablement besoin pour réaliser les objectifs énoncés dans la présente politique.</p>
        <p class="w-full">Tierces parties</p>
        <p class="w-full">Nous ne partageons pas vos données personnelles à des parties tierces</p>
        <p class="w-full">Autres divulgations</p>
        <p class="w-full">Nous nous engageons à ne pas vendre ou partager vos données avec des tiers, sauf dans les cas suivants :</p>
        <div class="w-full">
            <p class="w-full">si la loi l'exige</p>
            <p class="w-full">si elle est requise pour toute procédure judiciaire</p>
            <p class="w-full">pour prouver ou protéger nos droits légaux</p>
        </div>
        <p class="w-full">Si vous suivez des hyperliens de notre site vers un autre site, veuillez noter que nous ne sommes pas responsables et n’avons pas de contrôle sur leurs politiques et pratiques de confidentialité.</p>
        <h3 class="font-bold text-3xl w-full">Combien de temps nous stockons les données personnelles</h3>
        <p class="w-full">Nous ne conservons pas les données des utilisateurs au-delà de ce qui est nécessaire pour atteindre les fins pour lesquelles elles sont recueillies.</p>
        <h3 class="font-bold text-3xl w-full">Comment nous protégeons vos données personnelles</h3>
        <p class="w-full">Afin d’assurer la protection de votre sécurité, nous utilisons le protocole de sécurité de la couche transport pour transmettre des renseignements personnels dans notre système.</p>
        <h3 class="font-bold text-3xl w-full">Mineurs</h3>
        <p class="w-full">Le RGPD précise que les personnes de moins de 15 ans sont considérées comme des mineurs aux fins de la collecte de données. Les mineurs doivent avoir le consentement d’un représentant légal pour que leurs données soient recueillies, traitées et utilisées.</p>
        <h3 class="font-bold text-3xl w-full">Vos droits en tant qu’utilisateur</h3>
        <p class="w-full">En vertu du RGPD, les utilisateurs ont les droits suivants en tant que personnes concernées :</p>
        <div class="w-full">
            <p class="w-full">droit d'accès</p>
            <p class="w-full">droite de rectification</p>
            <p class="w-full">droit à l'effacement</p>
            <p class="w-full">droit de restreindre le traitement</p>
            <p class="w-full">droit à la portabilité des données</p>
            <p class="w-full">droit d'objection</p>
        </div>
        <p class="w-full">Vous trouverez de plus amples informations sur ces droits au chapitre 3 (art 12-23) du RGPD. https://www.cnil.fr/fr/reglement-europeen-protection-donnees/chapitre3</p>
        <h3 class="font-bold text-3xl w-full">Comment modifier, supprimer ou contester les données recueillies</h3>
        <p class="w-full">Si vous souhaitez que vos renseignements soient supprimés ou modifiés d’une façon ou d’une autre, veuillez communiquer avec notre agent de protection de la vie privée ici :</p>
        <p class="w-full">Nous utilisons les types de cookies suivants sur notre site :</p>
        <h3 class="font-bold text-3xl w-full">Cookies fonctionnels</h3>
        <p class="w-full">Nous les utilisons pour mémoriser toutes les sélections que vous faites sur notre site afin qu’elles soient sauvegardées pour vos prochaines visites.</p>
        <h3 class="font-bold text-3xl w-full">Cookies analytiques</h3>
        <p class="w-full">Cela nous permet d’améliorer la conception et la fonctionnalité de notre site en recueillant des données sur le contenu auquel vous accédez et sur lequel vous vous accrochez en utilisant notre site.</p>
        <p class="w-full">Vous pouvez choisir d’être averti chaque fois qu’un cookie est transmis. Vous pouvez également choisir de désactiver les cookies entièrement dans votre navigateur Internet, mais cela peut diminuer la qualité de votre expérience d’utilisation.</p>
        <h3 class="font-bold text-3xl w-full">Cookies tiers</h3>
        <p class="w-full">Nous pouvons utiliser des cookies tiers sur notre site pour atteindre les objectifs suivants :</p>
        <p class="w-full">Obtenir des statistiques d’utilisation</p>
        <h3 class="font-bold text-3xl w-full">Modifications</h3>
        <p class="w-full">Cette politique de confidentialité peut être modifiée à l’occasion afin de maintenir la conformité avec la loi et de tenir compte de tout changement à notre processus de collecte de données. Nous recommandons à nos utilisateurs de vérifier notre politique de temps à autre pour s’assurer qu’ils soient informés de toute mise à jour. Au besoin, nous pouvons informer les utilisateurs par courriel des changements apportés à cette politique.</p>
        <h3 class="font-bold text-3xl w-full">Contact</h3>
        <p class="w-full">Si vous avez des questions à nous poser, n’hésitez pas à communiquer avec nous en utilisant ce qui suit :</p>
        <div class="w-full">
            <p class="w-full">quentin.clarin@ardennes-cn.com</p>
            <p class="w-full">SARL OMNITECHNIQUE MACHINES OUTILS, Z.A Devant Nouzon, 08700 Nouzonville</p>
        </div>
        <p class="w-full">Date d’entrée en vigueur : le 24 Octobre 2023</p>
    </div>
{% endblock %}