{% extends "@EasyAdmin/page/content.html.twig" %}

{% block content %}
    <div>
        <h1>Pannel admin</h1>
        <p>Bienvenue sur le pannel administratif d'Omnitechnique</p>
        <a href="{{ path('app_index') }}">Retour à l'accueil</a>
    </div>
{% endblock %}